
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tracking Car</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/themes/base/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/charts")
    @*@Scripts.Render("~/bundles/jqueryui")*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Seguimiento y Estadisticas vehicular", "Index", "Trackings", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Country", "Index", "Countries")</li>
                        <li>@Html.ActionLink("State", "Index", "States")</li>
                        <li>@Html.ActionLink("City", "Index", "Cities")</li>
                        <li>@Html.ActionLink("Camera", "Index", "Cameras")</li>
                        <li>@Html.ActionLink("Tracking", "Index", "Trackings")</li>
                    </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- PANEL DE PERFIL -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="img-circle" alt="User Image" width="44" height="36">
                </div>
                <div class="pull-left info">
                    <p>Nicolás Blasco</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- MENU DE BUSQUEDA -->
            <ul class="sidebar-menu">
                <li class="header">MENU DE CONSULTAS</li>
                <div class="input-group" style="padding-left: 15px; padding-right: 12px">
                    <input type="text" name="q" class="form-control" placeholder="Ingrese Patente">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </ul>
            <!-- MENU DE NAVEGACION -->
            <ul class="sidebar-menu">
                <li class="header">MENU DE NAVEGACION</li>

                <li class="active treeview">
                    <a href="@Url.Action("Index","Trackings")">
                        <i class="fa fa-pie-chart"></i> <span>Estadisticas</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>Reportes</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Vehiculos</a>
                        </li>
                        <li>
                            <a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Camaras</a>
                        </li>
                        <li>
                            <a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Usuarios</a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-video-camera"></i>
                        <span>Camaras</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("Estadisticas","Trackings")"><i class="fa fa-circle-o"></i> Detalle General</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Cameras")"> <i class="fa fa-circle-o"></i> Gestión</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>Sistema</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="header">PARAMETROS</li>
                        <li>
                            <a href="@Url.Action("Index","Countries")"><i class="fa fa-circle-o"></i> Paises</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","States")"><i class="fa fa-circle-o"></i> Provincias</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Cities")"><i class="fa fa-circle-o"></i> Localidades</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span>Usuarios</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Perfil</a>
                        </li>
                        <li>
                            <a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Gestión</a>
                        </li>
                        <li>
                            <a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Roles</a>
                        </li>

                    </ul>
                </li>

            </ul>

        </section>
    </aside>

    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - @String.Concat("@", "NicolasMBlasco") </p>
    </footer>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datepicker1').datepicker({
                format: "dd MM, yyyy",
                todayBtn: true,
                autoclose: true,
                todayHighlight: true
            });
            $('#datepicker2').datepicker({
                format: "dd MM, yyyy",
                todayBtn: true,
                autoclose: true,
                todayHighlight: true
            });
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });

        });


        var areaChartData = {
            labels: ["00hs", "01hs", "02hs", "03hs", "04hs", "05hs", "06hs", "07hs", "08hs", "09hs", "10hs", "11hs", "12hs", "13hs", "14hs", "15hs", "16hs", "17hs", "18hs", "19hs", "20hs", "21hs", "22hs", "23hs"],
            datasets: [
              {
                  label: "Camara 1",
                  fillColor: "rgba(210, 214, 222, 1)",
                  strokeColor: "rgba(210, 214, 222, 1)",
                  pointColor: "rgba(210, 214, 222, 1)",
                  pointStrokeColor: "#c1c7d1",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(220,220,220,1)",
                  data: [1000, 5900, 800, 8100, 5600, 5500, 400, 5900, 800, 810, 560, 550, 1000, 5900, 800, 8100, 5600, 5500, 400, 5900, 800, 810, 560, 550]
              },
              {
                  label: "Camara 2",
                  fillColor: "rgba(60,141,188,0.9)",
                  strokeColor: "rgba(60,141,188,0.8)",
                  pointColor: "#3b8bba",
                  pointStrokeColor: "rgba(60,141,188,1)",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(60,141,188,1)",
                  data: [280, 480, 400, 190, 860, 2700, 900, 4800, 400, 190, 860, 270, 280, 480, 400, 190, 860, 2700, 900, 4800, 400, 190, 860, 270]
              },
              {
                  label: "Camara 3",
                  fillColor: "rgba(0,255,0,0.3)",
                  strokeColor: "rgba(0,255,0,0.2)",
                  pointColor: "#3BBA67",
                  pointStrokeColor: "rgba(0,255,0,1)",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(0,255,0,1)",
                  data: [380, 580, 100, 290, 6600, 2000, 400, 580, 100, 209, 660, 200, 380, 580, 100, 290, 6600, 2000, 400, 580, 100, 209, 660, 200]
              },
              {
                  label: "Camara 4",
                  fillColor: "rgba(255,0,255,0.3)",
                  strokeColor: "rgba(255,0,255,0.2)",
                  pointColor: "#F78DAD",
                  pointStrokeColor: "rgba(255,0,255,1)",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(255,0,255,1)",
                  data: [800, 800, 4900, 980, 4400, 330, 2200, 800, 4900, 980, 4400, 330, 800, 800, 4900, 980, 4400, 330, 2200, 800, 4900, 980, 4400, 330]
              }
            ]
        };

        var areaBarChartData = {
            labels: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"],
            datasets: [
              //{
              //    label: "Mes Anterior",
              //    fillColor: "rgba(210, 214, 222, 1)",
              //    strokeColor: "rgba(210, 214, 222, 1)",
              //    pointColor: "rgba(210, 214, 222, 1)",
              //    pointStrokeColor: "#c1c7d1",
              //    pointHighlightFill: "#fff",
              //    pointHighlightStroke: "rgba(220,220,220,1)",
              //    data: [1000, 5900, 800, 4000, 1000, 5900, 800, 4000, 1000, 5900, 800, 4000, 1000, 5900, 800, 4000, 1000, 5900, 800, 4000, 1000, 5900, 800, 4000, 1000, 5900, 800, 4000, 1000, 5900, 800]
              //},
              {
                  label: "Mes Actual",
                  fillColor: "rgba(60,141,188,0.9)",
                  strokeColor: "rgba(60,141,188,0.8)",
                  pointColor: "#3b8bba",
                  pointStrokeColor: "rgba(60,141,188,1)",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(60,141,188,1)",
                  data: [2800, 4800, 4000, 1900, 2800, 4800, 4000, 1900, 2800, 4800, 4000, 1900, 2800, 4800, 4000, 1900, 2800, 4800, 4000, 1900, 2800, 4800, 4000, 1900, 2800, 4800, 4000, 1900, 2800, 4800, 4000]
              }
            ]
        };

        var areaChartOptions = {
            //Boolean - If we should show the scale at all
            showScale: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: false,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - Whether the line is curved between points
            bezierCurve: true,
            //Number - Tension of the bezier curve between points
            bezierCurveTension: 0.3,
            //Boolean - Whether to show a dot for each point
            pointDot: false,
            //Number - Radius of each point dot in pixels
            pointDotRadius: 4,
            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
            //Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
            //Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
            //Boolean - Whether to fill the dataset with a color
            datasetFill: true,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true
        };

        //-------------
        //- LINE CHART -
        //--------------
        var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
        var lineChart = new Chart(lineChartCanvas);
        var lineChartOptions = areaChartOptions;
        lineChartOptions.datasetFill = false;
        lineChart.Line(areaChartData, lineChartOptions);

        //-------------
        //- BAR CHART -
        //-------------
        var barChartCanvas = $("#barChart").get(0).getContext("2d");
        var barChart = new Chart(barChartCanvas);
        var barChartData = areaChartData;
        barChartData.datasets[1].fillColor = "#00a65a";
        barChartData.datasets[1].strokeColor = "#00a65a";
        barChartData.datasets[1].pointColor = "#00a65a";
        var barChartOptions = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - If there is a stroke on each bar
            barShowStroke: true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth: 2,
            //Number - Spacing between each of the X value sets
            barValueSpacing: 5,
            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to make the chart responsive
            responsive: true,
            maintainAspectRatio: true
        };

        barChartOptions.datasetFill = false;
        barChart.Bar(areaBarChartData, barChartOptions);

    </script>


</body>
</html>
