@model IEnumerable<TrackingCar.Models.State>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Provincias";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear una nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.StateID }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.StateID }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.StateID })
        </td>
    </tr>
}

</table>
