@model TrackingCar.Models.Camera

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Camera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapCoordenadaX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapCoordenadaX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapCoordenadaY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapCoordenadaY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Limite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Limite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CameraID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
