@model IEnumerable<TrackingCar.Models.Camera>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MapCoordenadaX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MapCoordenadaY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MapCoordenadaX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MapCoordenadaY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CameraID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CameraID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CameraID })
        </td>
    </tr>
}

</table>
